@using SenaiMvc.Models.Escola

@model EscolaModel
@*
@{
	var estados = (List<EstadoModel>)ViewBag.Estados;
} *@

<p class="h2">Escola</p>

<form method="post" asp-action="Form" asp-controller="Escola">

	<div class="mb-3">
		<input type="hidden" asp-for="Id">

		<label class="form-label">Nome Escola</label>
		<input type="text" class="form-control" asp-for="Nome">
		@* @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" }) *@
		@Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
	</div>

	<div class="row">
		<div class="col-md-5">
			<label class="form-label">Rua</label>
			<input type="text" class="form-control" asp-for="Endereco.Rua">
			@Html.ValidationMessageFor(m => m.Endereco.Rua, "", new { @class = "text-danger" })
		</div>
		<div class="col-md-5">
			<label class="form-label">Bairro</label>
			<input type="text" class="form-control" asp-for="Endereco.Bairro">
			@Html.ValidationMessageFor(m => m.Endereco.Bairro, "", new { @class = "text-danger" })
		</div>
		<div class="col-md-2">
			<label class="form-label">Número</label>
			<input type="number" class="form-control" asp-for="Endereco.Numero">
			@Html.ValidationMessageFor(m => m.Endereco.Numero, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label class="form-label">Estado</label>
			<select asp-for="Endereco.Estado" asp-items="Model.Estados" onchange="escola.carregarCidadesPorUF(this.value)" class="form-control">
				<option value="">-- Selecione um estado --</option>
			</select>
			@Html.ValidationMessageFor(m => m.Endereco.Estado, "", new { @class = "text-danger" })
		</div>
		<div class="col-md-6">
			<label class="form-label">Cidade</label>
			<select asp-for=Endereco.Cidade asp-items="Model.Cidades" class="form-control">
				<option value="">-- Selecione a cidade --</option>
			</select>
			@Html.ValidationMessageFor(m => m.Endereco.Cidade, "", new { @class = "text-danger" })
		</div>
	</div>

	</br>

	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		<button class="btn btn-primary" type="submit">Salvar</button>
	</div>

</form>

@section Scripts {
	<script src="~/js/escola.js"></script>
}